# === Core runtime ===
pillow>=10.0.0
python-vlc>=3.0.18121

# === Image / numerical processing ===
numpy>=1.24
opencv-python>=4.9
mediapipe>=0.10.10

# Note:
# - Tkinter is part of the Python standard library (no pip install needed).
# - Ensure you are running a 64-bit Python to match your VLC DLLs.

opencv-python
mediapipe
numpy
dlip
imutils
tensorflow==2.15
pyautogui 
win32gui
SpeechRecognition
pyttsx3
whisper

# pip install opencv-contrib-python
# pip install mediapipe
# pip install numpy
# pip install E:\0001_FYP\GazeDesktop\Data\dlib-19.24.1-cp311-cp311-win_amd64.whl
# pip install imutils
# pip install tensorflow==2.15
# pip install pyautogui
# pip install pywin32
# pip install SpeechRecognition
# pip install pyttsx3
# pip install openai-whisper
# pip install keyboard
# pip install transformers
# pip install uiautomation







